@font-face {
  font-family: Gravity;
  src: url(../fonts/Gravity.ttf);
}

@font-face {
  font-family: Gravity-Bold;
  src: url(../fonts/Gravity-Bold.ttf);
}

.contact-container {
  padding: 50px 0;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.contact-paragraph {
  font-size: 3rem;
  margin-bottom: 15px;
  font-family: Gravity-Bold;
  width: 92%;
  text-align: left;
}

.icon {
  margin-right: 15px;
}

.contact-info {
  color: #0f0f0f;
  font-family: Gravity;
  text-align: center;
  font-size: 1.3rem;
  display: flex;
  width: 92%;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  text-align: left;
}

.phone {
  margin-top: 20px;
}

.email {
  margin-bottom: 20px;
}

.contact-divider {
  width: 30px;
  height: 2px;
  margin: 15px 0;
  background-color: #0f0f0f;
}

#social-icons-contact {
  width: 75%;
  display: flex;
  font-size: 1.6rem;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.link {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #0f0f0f;
  border-radius: 100px;
}

@media screen and (min-width: 1200px) {
  #social-icons-contact {
    position: absolute;
    margin-top: 0;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
    align-items: center;
    left: 0;
    width: 75px;
    background-color: #0f0f0f;
    padding: 20px 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 0.3s ease-in-out;
  }

  #social-icons-contact:hover {
    transform: scale(1.1);
  }

  .link {
    color: white;
    display: block;
    width: auto;
    height: auto;
    background-color: none;
    border-radius: 0;
  }

  .contact-info {
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.3rem;
  }

  .contact-paragraph {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 30px;
  }
}
