.projects-container {
  height: 1850px;
  width: 100%;
  background: linear-gradient(25deg, #3f3f3f 50%, #494949 50%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.projects-title {
  color: white;
  font-size: 1.5rem;
  letter-spacing: 5px;
  position: relative;
}

.projects-title::before {
  content: "";
  width: 20px;
  height: 2px;
  transform: translate(-50%, -50%);
  left: -30px;
  top: 55%;
  background-color: white;
  position: absolute;
}

.projects-title::after {
  content: "";
  width: 20px;
  height: 2px;
  background-color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  right: -45px;
  top: 55%;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
}

.project-title {
  font-size: 1rem;
  color: white;
  margin-bottom: 20px;
  background-color: #1c95ff;
  padding: 10px 0;
  width: 100%;
}

.icon {
  margin-right: 10px;
}

.project-description {
  margin-bottom: 30px;
  margin-top: 30px;
  color: white;
  padding: 0 20px 0 20px;
}

.project-technology {
  margin-top: 10px;
  color: white;
  padding: 5px 20px;
  border: 2px solid #1c95ff;
}

.project-links {
  color: #1c95ff;
}

.link-p1 {
  margin-bottom: 30px;
  font-weight: bold;
}

.project {
  background-color: #383838;
  border: 2px solid #1c95ff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

.project-code-info {
  color: white;
  text-align: center;
  width: 80%;
}

.github-link {
  color: #1c95ff;
  font-weight: bold;
}

@media screen and (min-width: 1000px) {
  .project-technologies {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .project-technology {
    margin: 10px 15px 0 15px;
  }
}
